<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Brand</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <object th:include="resources :: head" th:remove="tag"></object>
</head>
<body>

<header>
    <object th:include="toolBar :: menu" th:remove="tag"></object>
</header>



<main class="container p-5">

    <form action="/addCar" method="post">

     <div class="row">
         <div class="col-2">
        <div class="form-group">
            <label class="sr-only" for="mileage">mileage</label>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">km</div>
                </div>
                <input type="number" class="form-control" id="mileage" name="mileage" placeholder="mileage">
            </div>
        </div>
         </div>

         <div class="col-5">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="color">Date Of Registration</label>
            </div>
            <input type="date" name="dateOfRegistration" id="dateOfRegistration">
        </div>
             </div>
         <div class="col-2">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="color">Car Color</label>
            </div>
            <select class="custom-select" id="color" name="color">
                <option th:each="color : ${colors}" th:value="${color.id}" th:text="${color.description}"></option>
            </select>
        </div>
             </div>
         <div class="col-3">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="color">Gear</label>
            </div>
            <select class="custom-select" id="gear" name="gear">
                <option th:each="gear : ${gears}" th:value="${gear.id}" th:text="${gear.geartype}"></option>
            </select>
        </div>
             </div>
         <div class="col-4">
             <div class="input-group mb-3">
                 <div class="input-group-prepend">
                     <label class="input-group-text" for="color">Car Brand</label>
                 </div>
                 <select class="custom-select" id="brand" name="brand">
                     <option th:each="brand : ${brands}" th:value="${brand.id}" th:text="${brand.brandName}"></option>
                 </select>
             </div>
         </div>
         <div class="col-6">
             <div class="input-group mb-3">
                 <div class="input-group-prepend">
                     <label class="input-group-text" for="color">Car Model</label>
                 </div>
                 <select class="custom-select" id="model" name="model">
                     <option th:each="model : ${models}" th:value="${model.id}" th:text="${model.modelNumber}"></option>
                 </select>
             </div>
         </div>

         <div class="col-7">
             <div class="input-group mb-3">
                 <div class="input-group-prepend">
                     <label class="input-group-text" for="color">Country</label>
                 </div>
                 <select class="custom-select" id="country" name="country">
                     <option th:each="country : ${countries}" th:value="${country.id}" th:text="${country.countryName}"></option>
                 </select>
             </div>
         </div>
     </div>

        <button class="btn btn-primary" type="submit">Add Car To Buy</button>
    </form>

</main>

</body>
</html>