<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Brand</title>
    <object th:include="resources :: head" th:remove="tag"></object>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">


</head>
<body>

<header>
    <object th:include="toolBar :: menu" th:remove="tag"></object>
</header>

<div id="error"></div>

<main class="container p-5">

    <form action="/brand" method="post">

        <div class="form-group">
            <input class="form-control" name="brand" placeholder="brand"  type="text" required/>
        </div>
        <button class="btn btn-primary" type="submit">Add</button>
    </form>

    <br>
    <table class="table table-striped" style="width:100%">
        <tr>
            <th>Brand</th>
        </tr>
        <tr th:each="brand : ${brands}">
            <td th:text="${brand.brandName}"></td>
        </tr>
    </table>

</main>

<script type="text/javascript">
    $("form").submit(function(e) {
        var error = "";
        if ($("#brand").val() == "") {
            error += "The brand  field is required.<br>"
        }

        let parameters = { id :-1 , brandName: $("#brand").val()};

        if ($("#brand").val() != ""){
            $.getJSON({ url: "/getBrand", type: 'GET', async: false}, parameters , function(data) {
                if (data.brandName != "NoBrand"){
                    error += " This Brand "+$("#brand").val()+" is already Exists";}
            }) ;
        }

        if (error != "") {
            $("#error").html('<div class="alert alert-danger" role="alert"><p><strong>There were error(s) in your form:</strong></p>' + error + '</div>');
        }
        return false;

    })

</script>

</body>
</html>