<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>country</title>
    <object th:include="resources :: head" th:remove="tag"></object>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

</head>
<body>
<header>
    <object th:include="toolBar :: menu" th:remove="tag"></object>
</header>

<div id="error"></div>

<main class="container p-5">

    <form action="/country" method="post">

        <div class="form-group">
            <input class="form-control" name="country" id="country" placeholder="country"  type="text" required/>
        </div>
        <button class="btn btn-primary" type="submit">Add</button>
    </form>

    <br>
    <table class="table table-striped" style="width:100%">
        <tr>
            <th>Country Name</th>
        </tr>
        <tr th:each="country : ${countries}">
            <td th:text="${country.countryName}"></td>
        </tr>
    </table>

</main>

<script type="text/javascript">
    $("form").submit(function(e){
        var error = "";
        if ($("#country").val() == ""){
            error += "The country  field is required.<br>"
        }
        let parameters = { id :-1 , countryName: $("#country").val()};

        if ($("#country").val() != ""){
            $.getJSON({ url: "/getCountry", type: 'GET', async: false}, parameters , function(data) {
                if (data.countryName != "NoGear"){
                    error += " This Country "+$("#country").val()+" is already Exists";}
            }) ;
        }

        if (error != "") {
            $("#error").html('<div class="alert alert-danger" role="alert"><p><strong>There were error(s) in your form:</strong></p>' + error + '</div>');
        }
        if (error == "" ){
            return true;
        }
        else{
            return false;
        }


    })

</script>

</body>
</html>