<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <object th:include="resources ::head" th:remove="tag"></object>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
    <title>fuel</title>
</head>
<body>
<header>
    <object th:include="toolBar :: menu" th:remove="tag"></object>
</header>

<div id="error"></div>

<main class="container p-5">

    <form action="/fuel" method="post">

        <div class="form-group">
            <input class="form-control" name="fuel" id="fuel" placeholder="fuel"  type="text" />
        </div>
        <button class="btn btn-primary" type="submit">Add</button>
    </form>

    <br>
    <table class="table table-striped" style="width:100%">
        <tr>
            <th>Fuel Type</th>
        </tr>
        <tr th:each="fuel : ${fuels}">
            <td th:text="${fuel.fueltype}"></td>
        </tr>
    </table>

</main>

<script type="text/javascript">
    $("form").submit(function(e) {
        var error = "";
        if ($("#fuel").val() == "") {
            error += "The fuel  field is required.<br>"
        }

        let parameters = { id :-1 , fueltype: $("#fuel").val()};

          $.getJSON({ url: "/getFuel", type: 'GET', async: false}, parameters , function(data) {
            if (data.fueltype != "NoFuel"){
                error += " This Fuel "+$("#fuel").val()+" is already Exists";}
        }) ;


        if (error != "") {
            $("#error").html('<div class="alert alert-danger" role="alert"><p><strong>There were error(s) in your form:</strong></p>' + error + '</div>');
        }
            return false;

    })

</script>

</body>
</html>