<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <object th:include="resources ::head" th:remove="tag"></object>
    <title>fuel</title>
</head>
<body>
<header>
    <object th:include="toolBar :: menu" th:remove="tag"></object>
</header>
<main class="container p-5">

    <form action="/fuel" method="post">

        <div class="form-group">
            <input class="form-control" name="fuel" placeholder="fuel"  type="text"/>
        </div>
        <button class="btn btn-primary" type="submit">Add</button>
    </form>

    <br>
    <table class="table table-striped" style="width:100%">
        <tr>
            <th>Fuel Type</th>
        </tr>
        <tr th:each="fuel : ${fuels}">
            <td th:text="${fuel.fueltype}"></td>
        </tr>
    </table>

</main>

</body>
</html>