<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<object th:include="resources :: head" th:remove="tag"></object>
    <title>gear</title>

</head>
<body>
<header>
    <object th:include="toolBar :: menu" th:remove="tag"></object>
</header>

<div id="error"></div>

<main class="container p-5">

    <form action="/gear" method="post">

        <div class="form-group">
            <input class="form-control" name="gear" placeholder="gear type"  type="text" required/>
        </div>
        <button class="btn btn-primary" type="submit">Add</button>
    </form>

    <br>
    <table class="table table-striped" style="width:100%">
        <tr>
            <th>Gear type</th>
        </tr>
        <tr th:each="gear : ${gears}">
            <td th:text="${gear.geartype}"></td>
        </tr>
    </table>

</main>
</body>
</html>