<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Model</title>
    <object th:include="resources :: head" th:remove="tag"></object>
    <script src="brandScript.js"></script>
</head>
<body onload="BrandDtl();">
<header>
    <object th:include="toolBar :: menu" th:remove="tag"></object>
</header>
<div id="error"></div>
<main class="container p-5">
    <div class="form-group">
        <form action="/model" method="post">
            <input class="form-control" autofocus name="modelNumber" id="modelNumber" placeholder="modelNumber"  type="text"/>

            <select autocomplete="off"  class="form-control" id="brand" name="brand"   onchange="BrandDtl();">
                <option th:each="brand : ${brands}" th:value="${brand.id}" th:text="${brand.brandName}"></option>
            </select>

                <button class="btn btn-primary" type="submit">Add</button>

        </form>
    </div>
    <br>
    <div id="datadiv"></div>

    <script type="text/javascript">
        $("form").submit(function(e) {
            var error = "";
            if ($("#modelNumber").val() == "") {
                error += "The model  field is required.<br>"
            }
            let parameters  = { modelNumber: $("#modelNumber").val(), brandNo: $("#brand").val()};

            if ($("#modelNumber").val() != ""){
                $.getJSON({ url: "/checkModel", type: 'GET', async: false}, parameters , function(data) {
                    if (data.modelNumber == "Found"){
                        error += " This Model "+$("#modelNumber").val()+" is already Exists";}
                }) ;
            }

            if (error != "") {
                $("#error").html('<div class="alert alert-danger" role="alert"><p><strong>There were error(s) in your form:</strong></p>' + error + '</div>');
                return false;
            }
            else{
                return true;
            }

        })

    </script>
</main>

</body>
</html>