<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Model</title>
    <object th:include="resources :: head" th:remove="tag"></object>


</head>
<body>

<header>
    <object th:include="toolBar :: menu" th:remove="tag"></object>
</header>

<main class="container p-5">
    <div class="form-group">
        <form action="/model" method="post">
            <input class="form-control" autofocus name="modelNumber" placeholder="modelNumber"  type="text"/>
            <select autocomplete="off"  class="form-control" id="brand" name="brand"   onchange="BrandDtl();">
                <option th:each="brand : ${brands}" th:value="${brand.id}" th:text="${brand.brandName}"></option>
            </select>
            <button class="btn btn-primary" type="submit">Add</button>
        </form>
    </div>

    <br>


    <div id="datadiv"></div>


</main>

</body>
</html>