<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1"/>
    <object th:include="resources :: head" th:remove="tag"></object>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <style>
          .imageContainer {
            text-align: center;
            margin: 24px 0 12px 0;
        }

        img.avatar {
            width: 60%;
            border-radius: 50%;
        }

        .textLogin{
            width: 500px;
        }
        .labelLogin {
           width: 160px;
        }

        .divMargin{
                margin: 50px 10px 12px 50px;
        }
        button {
            background-color: #4CAF50;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
            align: center;
        }

        button:hover {
            opacity: 0.8;
        }

        .cancelbtn {
            background-color: #f44336;
            cursor: pointer;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
            align: center;
        }

    </style>
    <title>register</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
<header>
    <object th:include="toolBar :: menu" th:remove="tag"></object>
</header>
<div id="error"></div>

<form name="form" th:action="@{/register}" action="/register" method="POST">
    <div class="container divMargin">
    <div class="row">
        <div class="col-8">

            <div class="row">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text labelLogin" for="login"><b>login name</b></label>
                    </div>
                    <input class="textLogin" type="text" name="login" id="login" placeholder="Enter Your login name" >
                </div>
            </div>


            <div class="row">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text labelLogin" for="firstName"><b>First Name</b></label>
                    </div>
                    <input class="textLogin" type="text" name="firstName" id="firstName" placeholder="Enter Your Username"  >
                </div>
            </div>

            <div class="row">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text labelLogin" for="lastName"><b>Last Name</b></label>
                    </div>
                    <input class="textLogin" type="text" name="lastName" placeholder="Enter Your Username" id="lastName" >
                </div>
            </div>

            <div class="row">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text labelLogin" for="email"><b>E-mail</b></label>
                    </div>
                        <input class="textLogin" type="text" name="email" placeholder="Enter Your E-mail" id="email" >
                </div>
            </div>

            <div class="row">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text labelLogin" for="password"><b>Password</b></label>
                    </div>
                    <input class="textLogin" type="password" name="password" placeholder="Enter Your Password" id="password" >
                </div>
            </div>

            <div class="row">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text labelLogin" for="passwordConfirm"><b>Password Confirm</b></label>
                    </div>
                    <input class="textLogin" type="password" name="passwordConfirm" placeholder="Enter Your Password" id="passwordConfirm" >
                </div>
            </div>

        </div>
        <div class="col-4">
                <div class="imageContainer">
                    <img src="img_avatar2.png" alt="Avatar" class="avatar" style="width:150Px;height:150px">
                </div>
        </div>

        </div>
    <div class="row">
        <div class="col-2">
            <div class="row">

            </div>
        </div>

        <div class="col-2">
            <div class="row">
                <button type="submit">Register</button>
            </div>
            </div>
        <div class="col-2">
            <div class="row">

            </div>
        </div>

        <div class="col-2">
            <div class="row">
            <button type="button" class="cancelbtn">Cancel</button>
                </div>
        </div>
    </div>
    </div>
</form>

<script type="text/javascript">
        $("form").submit(function(e) {
            var error = "";
            if ($("#login").val() == "") {
                error += "The Login field is required.<br>"
            }
            if ($("#firstName").val() == "") {
                error += "The First Name field is required.<br>"
            }
            if ($("#lastName").val() == "") {
                error += "The Last Name field is required.<br>"
            }

            if ($("#email").val() == "") {
                error += "The Email field is required.<br>"
            }

            if ($("#password").val() == "") {
                error += "The Password field is required.<br>"
            }

            if ($("#passwordConfirm").val() == "") {
                error += "The Password Confirm field is required.<br>"
            }

             if ($("#passwordConfirm").val() != $("#password").val()) {
                error += "The Password and The Confirm doesn't match.<br>"
            }
            if (!isValidEmailAddress($("#email").val())) {
                error += "The Email doesn't correct.<br>"
            }

            if (error != "") {
                $("#error").html('<div class="alert alert-danger" role="alert"><p><strong>There were error(s) in your form:</strong></p>' + error + '</div>');
                return false;
            }
            else{
                return true;
            }

           });

           function isValidEmailAddress(emailAddress) {
                var pattern = new RegExp(/^(("[\w-+\s]+")|([\w-+]+(?:\.[\w-+]+)*)|("[\w-+\s]+")([\w-+]+(?:\.[\w-+]+)*))(@((?:[\w-+]+\.)*\w[\w-+]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$)|(@\[?((25[0-5]\.|2[0-4][\d]\.|1[\d]{2}\.|[\d]{1,2}\.))((25[0-5]|2[0-4][\d]|1[\d]{2}|[\d]{1,2})\.){2}(25[0-5]|2[0-4][\d]|1[\d]{2}|[\d]{1,2})\]?$)/i);
                return pattern.test(emailAddress);
           };
</script>
</body>
</html>