<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>state</title>
    <object th:include="resources :: head" th:remove="tag"></object>
    <script src="countryScript.js"></script>
</head>
<body onload="StateDtl();">
<header>
    <object th:include="toolBar :: menu" th:remove="tag"></object>
</header>

<main class="container p-5">



        <div class="form-group">
            <form action="/state" method="post">
            <input class="form-control" autofocus name="stateName" id="stateName" placeholder="stateName"  type="text"/>

            <select autocomplete="off"  class="form-control" id="country" name="country"   onchange="StateDtl();">
            <option th:each="country : ${countries}" th:value="${country.id}" th:text="${country.countryName}"></option>
            </select>
                <button class="btn btn-primary" type="submit">Add</button>

            </form>
        </div>
    <br>
    <div id="datadiv"></div>

    <script type="text/javascript">
        $("form").submit(function(e) {
            var error = "";
            if ($("#state").val() == "") {
                error += "The state  field is required.<br>"
            }

            let parameters = { id :-1 , stateName: $("#state").val()};

            if ($("#state").val() != ""){
                $.getJSON({ url: "/getState", type: 'GET', async: false}, parameters , function(data) {
                    if (data.stateName != "NoState"){
                        error += " This State "+$("#state").val()+" is already Exists";}
                }) ;
            }

            if (error != "") {
                $("#error").html('<div class="alert alert-danger" role="alert"><p><strong>There were error(s) in your form:</strong></p>' + error + '</div>');
            }

            if (error == "" ){
                return true;
            }
            else{
                return false;
            }
        })

    </script>


</main>
</body>
</html>